<div class="totem chat-card totem-coin-flip">
  <div class="coin-result-card {{#if isSuccess}}success{{else}}failure{{/if}}">
    <img src="{{resultImage}}" alt="{{resultText}}" class="coin-result-image" />
    <h2 class="coin-result-text">{{resultText}}</h2>
  </div>
</div>
